body {
    background-color:  rgb(202, 122, 255);
}



.container {
    border-color: rgb(241, 61, 217);
    background-color: rgb(235, 8, 243);
   border-width: 100%;
}



img {
    border-radius: 25px;
    box-shadow: 4px 5px 5px black; 
    margin-bottom: 25px;
}

 /* CONTACT ME PAGE */
 input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  
  input[type=submit] {
    background-color: #e27ce2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  

  input[type=submit]:hover {
    background-color: #7745a0;
  }
  
  /* END OF CONTACT ME PAGE */

 
#title {
    font-family: 'Raleway', sans-serif;
      border: black;
      border-width: 3px;
      border-style: solid;
      text-align: center;
      margin-left: 50px;
      margin-right: 50px;
      
  }

 #header {
     background-color: blueviolet;
     text-align: center;
     font-family: 'Raleway', sans-serif;
 }


 .col-xs-12 {
     font-family: 'Raleway', sans-serif;
     border: rgba(230, 124, 240, 0.849);
     border-width: 5px;
     border-style: solid;
     padding-top: 5px;
     padding-left: 2px;
     padding-bottom: -10px;
     box-shadow: 5px 5px rgb(59, 59, 59); 
 }

 #footer {
     background-color: cornflowerblue;
    font-family: 'Raleway', sans-serif;
     margin-top: 75px;
     text-align: center;
     border: rgb(154, 98, 243);
     border-width: 5px;
     border-style: solid;
     padding-top: 3px;
 }

 #footerportfolio {
 background-color: cornflowerblue;
 font-family: 'Raleway', sans-serif;
  text-align: center;
  border: rgb(154, 98, 243);
  border-width: 5px;
  border-style: solid;
  padding-top: 3px;
  
 }

 .card-deck{
    font-family: 'Raleway', sans-serif;
   padding: 30px;
 }

 #explanation {
    font-family: 'Raleway', sans-serif;
   text-align: center;
 }

 @media only screen and (max-width: 600px) {
  .photos {
   display: none;}
  }